[package]
name = "knossos"
version = "0.1.2"
authors = ["unrenamed <renkonazbka@gmail.com>"]
description = "Rust library for generating and rendering mazes"
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/unrenamed/knossos"
repository = "https://github.com/unrenamed/knossos"
keywords = ["maze", "labyrinth", "procedural", "algorithm"]
categories = ["algorithms"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4.0"
rand = "0.8.4"
image = "0.24.1"
